[submodule "CXX11-CMake-Macros"]
	path = CXX11-CMake-Macros
	url = git@github.com:icke2063/CXX11-CMake-Macros.git
[submodule "ext/ThreadPool"]
	path = ext/ThreadPool
	url = git@github.com:icke2063/ThreadPool.git
